//
// Mixins
//

@use "sass:math";

// Breakpoints

//
//  Site Breakpoint mixin
//

@mixin bp($point) {
    $bp-mobile: "(max-width:" + math.div(500, 16) + "em)";
    $bp-medium: "(min-width:" + math.div(760, 16) + "em)";
    $bp-large: "(min-width:" + math.div(900, 16) + "em)";
    $bp-max: "(min-width:" + math.div(1400, 16) + "em)";

    @if $point == mobile {
        @media only screen and #{$bp-mobile} {
            @content;
        }
    } @else 
    if $point == medium {
        @media only screen and #{$bp-medium} {
            @content;
        }
    } @else 
    if $point == large {
        @media only screen and #{$bp-large} {
            @content;
        }
    } @else 
    if $point == max {
        @media only screen and #{$bp-max} {
            @content;
        }
    }
}

//
// Preferences
//

@mixin pf($type) {
    $motion: "(prefers-reduced-motion: no-preference)";
    $transparency: "(prefers-reduced-transparency: no-preference)";

    @if $type == motion {
        @media only screen and #{$motion} {
            @content;
        }
    }
    @else if $type == transparency {
        @media only screen and #{$transparency} {
            @content;
        }
    }
}