//
// Variables
//

// Dimensions

$site-width--max: 1200px;
$site-padding--small: 10px;
$site-vertical-rhythm--small: 10px;


// Colours

$colour-green: rgb(216, 236, 131);
$colour-black: rgb(28, 31, 17)