//
// Variables
//

// Dimensions

$site-width--max: 1200px;
$site-padding--small: 15px;
$site-vertical-rhythm--small: 10px;


// Colours

$colour-light-purple: rgb(243, 225, 252);
$colour-dark-purple: rgb(29, 18, 34);