{% comment %}
    Site footer
    Styles in _sass/global/_site-footer.scss
{% endcomment %}

<footer class="site-footer">
    {% if site.data.header-links %}
        <nav class="footer-navigation">
            {% for link in site.data.header-links %}
                <a href="{{ link.url }}">{{ link.text }}</a>{% if forloop.last %}{% else %}, {% endif %}
            {% endfor %}
        </nav>
    {% endif %}

    <aside class="footer-copyright">
        &copy; {{ site.time | date: '%Y' }}
    </aside>
</footer>