<section class="statements">

    <div id="js-statements-container" class="site-wrapper editorial">
        {% comment %}
            Populated from statements collection 
            JS pulls these statements from .json files
        {% endcomment %}
    </div>

    <div class="statements__fallback site-wrapper editorial">
        
        {% assign orderedStatements = site.statements | sort: 'personalScore' | reverse %}

        {% for statement in orderedStatements %}
            <div class="statement">
                {{ statement.content | markdownify }}
            </div>
        {% endfor %}

    </div>

</section>